*.class

# Package Files #
*.jar
*.war
*.ear

out
Servers
test-output

.factorypath
.externalToolBuilders
.classpath
.project
.settings
.metadata
.buildpath
.checkstyle
.pmd
target
classes
build
cobertura.ser
bin
classes
*~
.spring*
rebel.*